@import "tailwindcss";

:root {
  --clr-bg: #10141e;
  --clr-accent: #161d2f;
  --clr-icons: #5a698f;

  --clr-red: #fc4747;
}

body {
  min-height: 100dvh;
  font-family: "Outfit", sans-serif;
}

img,
svg {
  cursor: pointer;
  user-select: none;
}

.trending {
  width: clamp(240px, 60vw, 520px);

  @media (min-width: 1024px) {
    width: clamp(520px, 35vw, 760px);
  }
}

.gap {
  gap: clamp(2px, 5vw, 40px);

  @media (min-width: 1024px) {
    gap: 1.75rem;
  }
}

.w-bar {
  width: calc(100% - 48px);
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-red) transparent;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-red);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-red);
}

.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--clr-red);
  animation:
    prixClipFix 2s linear infinite,
    rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
